Tengo que separar el contenido del form y de las tables, entonces ayudame separarlo para los componentes de angular para form y table  que voy a crear.
component.ts:
import { CommonModule } from '@angular/common';
import { Component } from '@angular/core';
import { FormsModule } from '@angular/forms';
import { from } from 'rxjs';

@Component({
  selector: 'app-form',
  standalone: true,
  imports: [FormsModule, CommonModule],
  templateUrl: './form.component.html',
  styleUrl: './form.component.css'
})

export class FormComponent {

  reservation: Reservation = {
    arrivalDate: null,
    departureDate: null,
    arrivalTime: '13:00',
    name: '',
    phone: '',
    email: '',
    price: null,
    address: '',
    nights: 0
  };

  reservations: Reservation[] = [];

  pastReservations: Reservation[] = [];
  futureReservations: Reservation[] = [];

  // arrivalDate:string | null = null;
  // departureDate:string | null = null;

  imageUrl: string = 'assets/img/house.jpeg';

  ngOnInit(){
    const storedReservations = localStorage.getItem('reservations');
    if (storedReservations) {
      this.reservations = JSON.parse(storedReservations);
      this.splitReservations();
    }
    // this.arrivalDate = localStorage.getItem('selectedDate');
    // this.departureDate = localStorage.getItem('departureDate');
  }

  calculateNights(arrivalDate: Date, departureDate: Date): number {
    const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
    const arrival = new Date(arrivalDate);
    const departure = new Date(departureDate);
    const nights = Math.round(Math.abs((arrival.getTime() - departure.getTime()) / oneDay));
    return nights;
  }

  splitReservations() {
    const currentDate = new Date();
    this.pastReservations = this.reservations.filter(reservation =>
      reservation.arrivalDate && new Date(reservation.arrivalDate) < currentDate
    );
    this.futureReservations = this.reservations.filter(reservation =>
      reservation.arrivalDate && new Date(reservation.arrivalDate) >= currentDate
    );
  }

  submitForm(){
    // console.log(this.from.value);
    //this.reservations.push(this.reservation);
    //localStorage.setItem('reservations', JSON.stringify(this.reservations));
  
    this.reservations.push(this.reservation);
    this.splitReservations(); // Update filtered reservations immediately
    localStorage.setItem('reservations', JSON.stringify(this.reservations));

    // Reset form after successful submission (optional)
    this.reservation = {
      arrivalDate: null,
      departureDate: null,
      arrivalTime: '13:00',
      name: '',
      phone: '',
      email: '',
      price: null,
      address: '',
      nights: 0
    };
  }

  saveDate(event: any) {
    const selectedDate = new Date(event.target.value);
    const currentDate = new Date();
    if (selectedDate < currentDate) {
      alert("That date has passed already.");
      event.target.value = '';
    } else {
      const isDateAvailable = this.isDateAvailable(selectedDate);
      if (!isDateAvailable) {
        alert("This range of date is already reserved, choose another dates.");
        event.target.value = '';
      } else {
        this.reservation.arrivalDate = selectedDate;
      }
    }
  }

  saveDepartureDate(event: any) {
    const departureDate = new Date(event.target.value);
    const arrivalDate = this.reservation.arrivalDate;
    if (arrivalDate && departureDate <= arrivalDate) {
      alert("Departure date must be after arrival date");
      event.target.value = '';
    } else {
      this.reservation.departureDate = departureDate;
      if (arrivalDate) {
        this.reservation.nights = this.calculateNights(arrivalDate, departureDate);
      }
    }
  }

  isDateAvailable(selectedDate: Date): boolean {
    for (const reservation of this.reservations) {
      if (
        reservation.arrivalDate &&
        reservation.departureDate &&
        selectedDate >= reservation.arrivalDate &&
        selectedDate <= reservation.departureDate
      ) {
        return false;
      }
    }
    return true;
  }
  
}

interface Reservation {
  arrivalDate: Date | null;
  departureDate: Date | null;
  arrivalTime: '13:00';
  name: string;
  phone: string;
  email: string;
  price: number | null;
  address: string;
  nights: number;
}

component.html:
<form (ngSubmit)="submitForm()" #form="ngForm">
  <div class="form-group">
      <label for="arrivalDate">Arrival Date</label>
      <input type="date" class="form-control" id="arrivalDate" name="arrivalDate" (change)="saveDate($event)" required>
  </div>
    <div class="form-group">
      <label for="departureDate">Departure Date</label>
      <input type="date" class="form-control" id="departureDate" name="departureDate" (change)="saveDepartureDate($event)" required>
    </div>
  <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="reservation.name" required>
  </div>
  <div class="form-group">
      <label for="phone">Phone Number</label>n
      <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="reservation.phone" required>
  </div>
  <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="reservation.email" required email>
  </div>
  <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" [(ngModel)]="reservation.price" required>
  </div>
  <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="address"  [(ngModel)]="reservation.address" required>
  </div>
  <div class="form-group">
      <label for="image">Preview</label>
      <img [src]="imageUrl" alt="Imagen" class="img-fluid">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<h2>Past Reservations</h2>
<table class="table">
  <thead>
    <tr>
      <th>Arrival Date</th>
      <th>Departure Date</th>
      <th>Arrival Time</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Price</th>
      <th>Address</th>
      <th>Total Nights</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of pastReservations">
      <td>{{ reservation.arrivalDate | date }}</td>
      <td>{{ reservation.departureDate | date }}</td>
      <td>{{ reservation.arrivalTime }}</td>
      <td>{{ reservation.name }}</td>
      <td>{{ reservation.phone }}</td>
      <td>{{ reservation.email }}</td>
      <td>{{ reservation.price }}</td>
      <td>{{ reservation.address }}</td>
      <td>{{ reservation.nights }}</td>
    </tr>
  </tbody>
</table>

<!-- Future Reservations Table -->
<h2>Future Reservations</h2>
<table class="table">
  <thead>
    <tr>
      <th>Arrival Date</th>
      <th>Departure Date</th>
      <th>Arrival Time</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Price</th>
      <th>Address</th>
      <th>Total Nighths</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of futureReservations">
      <td>{{ reservation.arrivalDate | date }}</td>
      <td>{{ reservation.departureDate | date }}</td>
      <td>{{ reservation.arrivalTime }}</td>
      <td>{{ reservation.name }}</td>
      <td>{{ reservation.phone }}</td>
      <td>{{ reservation.email }}</td>
      <td>{{ reservation.price }}</td>
      <td>{{ reservation.address }}</td>
      <td>{{ reservation.nights }}</td>
    </tr>
  </tbody>
</table>