<mat-toolbar color="primary"> 
    <img src="../../assets/img/logo.png" alt="" width="55">
    &nbsp;&nbsp;
    <span>The Apartment</span>  
    &nbsp;&nbsp;&nbsp;
    <a mat-button>Home</a>  
    <a mat-button>About</a>  
    <a mat-button>Contact</a>
    <div class="spacer"></div>

    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">        
        <button mat-stroked-button type="submit">Search</button>
    </form>

</mat-toolbar>
