
<mat-toolbar [style.background]="'white'" [style.height]="'40px'">
    <div style="color: #F44336;" id="carouselTitle" class="carousel slide text-center w-100 carouselTitle" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                this is an academic project
            </div>
            <div class="carousel-item">
                need an apartment quickly?
            </div>
            <div class="carousel-item">
                make a reservation to stay in one of our temples
            </div>
        </div>
    </div>
</mat-toolbar>
<div class="sticky-top" style="background-color: white;">
    <mat-toolbar color="primary" style="border-top-left-radius: 25px; border-top-right-radius: 25px; " class="shadow-lg"> 
        &nbsp;&nbsp;
        <div class="pointer" [routerLink]="['/home']" routerLinkActive="router-link-active" >
            <img src="../../assets/img/logo.png" alt="" width="50">
            &nbsp;
            <span>the apartment</span>  
        </div>
        
        <div class="spacer"></div>

        
        <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" >home</a>  
        <a mat-button [routerLink]="['/apartments']" routerLinkActive="router-link-active" >apartments</a>  
        <a mat-button [routerLink]="['/gallery']" routerLinkActive="router-link-active" >gallery</a>  
        <a mat-button [routerLink]="['/about']" routerLinkActive="router-link-active" >about</a>
        &nbsp;&nbsp;

        <!-- <app-search (spread)="spreadProccess($event)"></app-search> -->

    </mat-toolbar>
</div>



