<div class="recomendaciones">
    <p class="title1">Recomendation for tourism offices</p>

    <div class="container-rec">
        <div class="grid-rec">
            <a href="https://www.visittheusa.mx/"><img class="imgrec" src="../assets/img/main/tourism_office/usa.png" alt=""></a>
        </div>
        <div class="grid-rec">
            <a href="https://www.visittheusa.mx/"><img class="imgrec" src="../assets/img/main/tourism_office/mexico.png" alt=""></a>
        </div>
        <div class="grid-rec">
            <a href="https://www.france.fr/en"><img class="imgrec" src="../assets/img/main/tourism_office/france3.png" alt=""></a>
        </div>
        <div class="grid-rec">
            <a href="https://www.germany.travel/en/home.html"><img class="imgrec" src="../assets/img/main/tourism_office/ger2.png" alt=""></a>
        </div>
        <div class="grid-rec">
            <a href="https://www.japan.travel/en/"><img class="imgrec" src="../assets/img/main/tourism_office/japan3.png" alt=""></a>
        </div>
      </div>
</div>

<div class="carrusel">
    <p class="title1">Featured destinations for you next summer</p>
    
    <div id="carouselExampleCaptions" class="carousel slide mx-auto" style="width: 700px; height: 400px;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner" style="width: 700px; height: 400px;">
            <div class="carousel-item active">
                <img src="../assets/img/main/carrusel/copenhagen.jpeg" class="d-block" alt="..." style="width: 700px; height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Copenhagen, Denmark</h5>
                    <p> Capital of Denmark, renowned for its innovative design, extensive bike paths, and welcoming atmosphere.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/img/main/carrusel/Fujikawaguchiko.jpg" class="d-block" alt="..." style="width: 700px; height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fujikawaguchiko, Japan</h5>
                    <p>Village near Mount Fuji, famous for its panoramic views of the iconic volcano and Lake Kawaguchi.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/img/main/carrusel/merida.jpg" class="d-block" alt="..." style="width: 700px; height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Merida, Mexico</h5>
                    <p>Colonial city in Mexico, known for its historic architecture, vibrant culture, and traditional cuisine.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/img/main/carrusel/sandiego.jpeg" class="d-block" alt="..." style="width: 700px; height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>San Diego, United States</h5>
                    <p>Coastal city in California, famous for its pristine beaches, temperate climate, and exciting theme parks.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="section_video">
        <p class="title1">Monthly recomendation: May</p>

        <div class="container-video">
            <div class="grid-video">
                <p class="may">New York, United States</p>
                <app-videopipe></app-videopipe>
            </div>
            <div class="grid-video">
                
                <p class="text-video">
                    Welcome to New York City, where towering skyscrapers meet vibrant neighborhoods and endless cultural experiences. Explore iconic landmarks like the Empire State Building and One World Trade Center, then lose yourself in the diverse communities of Little Italy, Chinatown, and Harlem. Take a leisurely stroll through Central Park, indulge in world-class cuisine, and immerse yourself in the arts scene with Broadway shows and renowned museums.
                </p>
                <p class="title1">10 top tourist attractions in New York City</p>
                <ul>
                    <li>Central Park</li>
                    <li>Statue of Liberty and Ellis Island</li>
                    <li>Empire State Building</li>
                    <li>Times Square</li>
                    <li>The Metropolitan Museum of Art</li>
                    <li>Broadway</li>
                    <li>9/11 Memorial and Museum</li>
                    <li>Brooklyn Bridge</li>
                    <li>The High Line</li>
                    <li>The Museum of Modern Art (MoMA)</li>
                </ul>
            </div>
        </div>
</div>


<div class="opinion_users">
    <p class="title1">Experiences of our users</p>

    <div class="card-group">
        <div class="card">
          <img src="../assets/img/main/users/user1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Frost Kuznetsov</h5>
            <p class="card-text">Our family had an amazing time at the department in Maui. The condo was spacious, clean, and well-equipped with everything we needed for a comfortable stay. The oceanfront view from the balcony was breathtaking, and we enjoyed watching the sunset every evening. The resort amenities were fantastic, including pools, a beachfront bar, and complimentary beach gear.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated one week ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/main/users/user2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chelsea Anne Evans</h5>
            <p class="card-text">I can't say enough good things about our the department experience in Kyoto. The traditional Japanese house we stayed in was stunning, with tatami mat floors, sliding doors, and a beautiful garden. The host was so welcoming and went above and beyond to make us feel at home, even providing us with homemade treats and tea upon arrival.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 4 months ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/main/users/user3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Barrington Louverture</h5>
            <p class="card-text">Our stay at the department in Barcelona was fantastic! The apartment was clean, spacious, and beautifully decorated. The host was incredibly helpful, providing us with local tips and recommendations for restaurants and attractions. The location was perfect, within walking distance to many sights and close to public transportation. Overall, it was a wonderful experience, and I would highly recommend use the department to anyone visiting Barcelona.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 days ago</small></p>
          </div>
        </div>
      </div>
</div>