<div class="intro">
    <p id="title1">ABOUT US</p>
</div>

<div class="whorus">
    <p id="title2">Who are us?</p>
    
    <p class="text-cont">
        I'm not merely a platform for booking accommodations; I'm a conduit for crafting memories. I curate a universe where wanderlust meets comfort, where the mundane fades into the background and the extraordinary takes center stage. Through me, travelers embark on journeys that transcend the ordinary, discovering new cultures, forging connections, and creating stories that last a lifetime. I'm not just a website; I'm the architect of dreams and the curator of experiences.
    </p>
</div>

<div class="cont-myv">
    <div class="elemento1-grid">
        <p class="titlemyv">Mission</p>

        <p class="textmyv">
            Our mission is to empower travelers to unlock the full potential of their journeys by providing seamless access to unique and immersive accommodations around the globe.
        </p>
    </div>

    <div class="elemento1-grid">
        <p class="titlemyv">Vision</p>

        <p class="textmyv">
            To redefine the way people experience travel, fostering a world where every journey is an opportunity for discovery, connection, and transformation
        </p>
    </div>
</div>

<div class="stats">
    <p id="title2">Stats</p>
    <div class="contenedor">
        <div class="elemento2-grid">
            <p class="number-stats">1000+</p>
            <p class="text1-stats">Active users a our website</p>
            <p class="text2-stats">as of December 31, 2023</p>
        </div>
        <div class="elemento2-grid">
            <div class="elemento2-grid">
                <p class="number-stats">76%</p>
                <p class="text1-stats">Average Occupancy Rate</p>
                <p class="text2-stats">as of December 31, 2023</p>
            </div>
        </div>
        <div class="elemento2-grid">
            <div class="elemento2-grid">
                <p class="number-stats">$2 millions</p>
                <p class="text1-stats">Valuation stands of the company</p>
                <p class="text2-stats">as of December 31, 2023</p>
            </div>
        </div>
        <div class="elemento2-grid">
            <div class="elemento2-grid">
                <p class="number-stats">$12,700</p>
                <p class="text1-stats">Earned by the typical Host in 2023</p>
                <p class="text2-stats">as of December 31, 2023</p>
            </div>
        </div>
    </div>
</div>

<div class="founders">
    <p class="titlemyv">Founders</p>
    <div class="grid-container">
        <div class="grid-founder">
            <img class="img-f" src="../assets/img/founders/alet.jpg" alt="">
            <p class="text-f">Alejandro Lopez Ruiz</p>
        </div>
        <div class="grid-founder">
            <img class="img-f" src="../assets/img/founders/diego.jpg" alt="">
            <p class="text-f">Diego Zamora Delgadillo</p>
        </div>
        <div class="grid-founder">
            <img class="img-f" src="../assets/img/founders/ivan.jpg" alt="">
            <p class="text-f">Angel Ivan Reyes Hernandez</p>
        </div>
        <div class="grid-founder">
            <img class="img-f" src="../assets/img/founders/ro.jpg" alt="">
            <p class="text-f">Rodolfo Puente Zuñiga</p>
        </div>
    </div>
    
</div>
