.intro{
    background-image: url(../../assets/img/aboutus/copenhagen-main.jpeg);
}

p{
    font-size: 15vw;
    background-image: url(../../assets/img/aboutus/copenhagen-main.jpeg);
    background-size:cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}