<app-navbar></app-navbar>

<!-- 
    <h1>Hola</h1>
    <ngx-masonry [options]="{ percentPosition: true }">  <div ngxMasonryItem class="masonry-item" *ngFor="let item of arrayN; trackBy: item">
            <div class="col">
                <div class="card">
                    <img src="../../assets/img/gallery/{{item}}.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </ngx-masonry>
</div> -->

<div class="paddingx py-5">
    <h1 class="pb-3 fw-bold">gallery</h1>
    <h2 class="pb-5">see some of the photos taken by our users</h2>
    <div class="masonry-container">
        <ngx-masonry [options]="{ fitWidth: true }">
          <div ngxMasonryItem class="masonry-item" *ngFor="let item of masonryItems">
            <img src="{{item.src}}" class="m-1" alt="" width="220">
          </div>
        </ngx-masonry>
      </div>

</div>




<app-footer></app-footer>