<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Apartment</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eius a quam tenetur sapiente illo vero doloremque ipsa, et similique quod. Asperiores, totam? Non, repudiandae? Voluptate cumque quam expedita perferendis?</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime autem deserunt ipsam et recusandae saepe alias possimus. Voluptatem vel, nobis accusamus magnam iste rerum illum facere accusantium nulla nesciunt dolores!</td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, magnam autem illum deleniti, deserunt tempora, laudantium dolor voluptas ab sapiente nostrum amet odit perferendis excepturi laboriosam facere quisquam quibusdam sequi.</td>
          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor accusamus itaque quos voluptas velit eligendi odit quod soluta? Mollitia optio consequuntur porro ab reprehenderit. Facilis nemo tenetur explicabo vero fuga!</td>
        </tr>
        <tr>
          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, repellendus esse illo fugit nisi voluptates distinctio provident illum debitis qui maiores impedit aut ab ipsa cumque cupiditate. Rerum, sequi voluptatem!</td>
          <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam necessitatibus eligendi modi ducimus, soluta ipsum nobis eos sunt sequi, saepe quisquam ut doloremque at! Quae odit laboriosam harum ducimus qui?</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eveniet iusto reprehenderit reiciendis earum in voluptatibus nesciunt porro, quaerat aut illum! Distinctio natus ex rem quod officia earum beatae doloremque!</td>
          <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque velit perferendis ducimus, at, enim odio tempora omnis sit nam mollitia nihil quibusdam suscipit sapiente voluptatum aperiam vitae repudiandae animi totam!</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis sapiente nulla, aspernatur aut quo impedit consequatur tempore error alias modi dolorem! Dolorum tempora eum unde accusamus laborum doloremque facere sunt.</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi non ducimus illo fugit excepturi. Quo, dolorum delectus ullam, ad maiores nostrum facere enim nulla aperiam debitis molestiae? Ut, facilis.</td>
        </tr>
      </tbody>
    </table>
  </div>
  