<div class="intro">
    <p id="title1">ABOUT US</p>
</div>

<div class="whorus">
    <p id="title2">Who are us?</p>
    
    <p class="text-cont">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor velit sit amet turpis laoreet, eu blandit urna venenatis. Maecenas id metus vel ex volutpat pharetra. Sed eget ultrices elit, nec dignissim libero. Nam vel pharetra libero. Nulla euismod velit id bibendum efficitur. Vestibulum sit amet lorem sit amet arcu interdum convallis. Phasellus auctor lacus non est condimentum mollis. Donec tempus nisi ut turpis volutpat, id accumsan libero aliquam. Integer accumsan diam ut justo malesuada, ac vehicula eros placerat. Ut dapibus mauris in justo consequat, non dictum nisl ultricies.
    </p>
</div>

<div class="cont-myv">
    <div class="elemento1-grid">
        <p class="titlemyv">Mission</p>

        <p class="textmyv">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor velit sit amet turpis laoreet, eu blandit urna venenatis.
        </p>
    </div>

    <div class="elemento1-grid">
        <p class="titlemyv">Vision</p>

        <p class="textmyv">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor velit sit amet turpis laoreet, eu blandit urna venenatis.
        </p>
    </div>
</div>

<div class="stats">
    <p id="title2">Stats</p>
    <div class="contenedor">
        <div class="elemento2-grid">
            <p class="number-stats">1000+</p>
            <p class="text1-stats">Active users a our website</p>
            <p class="text2-stats">as of December 31, 2023</p>
        </div>
        <div class="elemento2-grid">
            <div class="elemento2-grid">
                <p class="number-stats">76%</p>
                <p class="text1-stats">Average Occupancy Rate</p>
                <p class="text2-stats">as of December 31, 2023</p>
            </div>
        </div>
        <div class="elemento2-grid">
            <div class="elemento2-grid">
                <p class="number-stats">$2 millions</p>
                <p class="text1-stats">Valuation stands of the company</p>
                <p class="text2-stats">as of December 31, 2023</p>
            </div>
        </div>
        <div class="elemento2-grid">
            <div class="elemento2-grid">
                <p class="number-stats">$12,700</p>
                <p class="text1-stats">Earned by the typical Host in 2023</p>
                <p class="text2-stats">as of December 31, 2023</p>
            </div>
        </div>
    </div>
</div>

<div class="founders">
    <p class="titlemyv">Founders</p>
    <div class="grid-container">
        <div class="grid-founder">
            <img class="img-f" src="../assets/img/founders/alet.jpg" alt="">
            <p class="text-f">Alexandro Lopez Ruiz</p>
        </div>
        <div class="grid-founder">
            <img class="img-f" src="../assets/img/founders/diego.jpg" alt="">
            <p class="text-f">Diego Zamora Delgadillo</p>
        </div>
        <div class="grid-founder">
            <img class="img-f" src="../assets/img/founders/ivan.jpg" alt="">
            <p class="text-f">Angel Ivan Reyes Hernandez</p>
        </div>
        <div class="grid-founder">
            <img class="img-f" src="../assets/img/founders/ro.jpg" alt="">
            <p class="text-f">Rodolfo Puente Zuñiga</p>
        </div>
    </div>
    
</div>
