.intro{
    background-image: url('../assets/img/aboutus/copenhagen-edit.png');
    padding: 90px;
}

#title1{
    text-align: center;
    font-size: 10vw;
    color: white;
    /*background-image: url('../assets/img/aboutus/sea.jpeg');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
}

.whorus{
    padding-block-start: 80px;
    padding-block-end: 100px;
    padding-inline: 350px;
}

#title2{
    padding-block-end: 20px;

    font-weight: bold;
    font-size: 20px;
    
}

.cont-myv {
    padding-inline: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}

.elemento1-grid {
    background-color: lightgray;
    padding: 20px;
    padding-block-end: 20px;
    border-radius: 10px;
}

.titlemyv{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.stats{
    padding-block-start: 80px;
    padding-block-end: 100px;
    padding-inline: 350px;
}

.contenedor {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
    height: 400px;
}

.elemento2-grid {
    background-color: #e8e4e2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.number-stats{
    display: block;
    font-size: 40px;
    margin-block-start: 1em;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.text2-stats{
    padding-block-start: 7px;
    font-size: 12px;
    color: grey;
}

.founders{
    padding-block-start: 150px;
    padding-inline: 180px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual ancho */
    gap: 10px; /* Espacio entre las columnas */
}

.grid-founder {
    border-color: black;
    padding: 20px;
    text-align: center;
}

.img-f{
    width: 200px; 
    height: auto;
    border-radius: 10px;
}

.text-f{
    padding-block-start: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
