<div>
    <div class="">
        <div class="row">
            <div class="col-4"><img [src]="apartment.src + '/1.jpg'" class="d-block w-100" alt="..." style="border-radius: 5%;"></div>
            <div class="col-5"><img [src]="apartment.src + '/2.jpg'" class="d-block w-100" alt="..." style="border-radius: 5%;"></div>
        </div>
        <div class="row">
            <div class="col-3"><img [src]="apartment.src + '/3.jpg'" class="d-block w-100" alt="..." style="border-radius: 5%;"></div>
            <div class="col-3"><img [src]="apartment.src + '/4.jpg'" class="d-block w-100" alt="..." style="border-radius: 5%;"></div>
            <div class="col-3"><img [src]="apartment.src + '/5.jpg'" class="d-block w-100" alt="..." style="border-radius: 5%;"></div>
        </div>
    </div>
    <div>
        <h2>{{apartment.name}}</h2>
        <hr>
        <p>{{apartment.description}}</p>
        <p>{{apartment.owner}} will receive you if you did a reservation earlier</p>
    </div>

</div>