<app-navbar></app-navbar>
<app-banner></app-banner>

    <div class="p-5">
        <div class="m-5 p-5" >
            <h1 class="mb-5">this week's city of choice: new york city</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officiis, aliquam maxime cupiditate molestias perferendis accusantium nostrum vero omnis, reiciendis animi odit eos libero quod dignissimos amet voluptatum. Velit, hic.
            Id atque eos illo nam hic nostrum voluptate earum deleniti, nulla nesciunt veritatis voluptates? Culpa molestiae excepturi assumenda eius quisquam eveniet sapiente at officia non repudiandae dolore, a dolores? Sequi!
            Consectetur dolor asperiores dolores quasi facilis alias blanditiis quod iste fugiat. Consectetur, dolores animi. Quam laboriosam vel nam possimus quo distinctio autem debitis, tempora aspernatur laudantium velit ex sint placeat?
            Aliquid eos vitae recusandae quibusdam! Fugit totam rerum commodi, perferendis cumque ea repellendus vero iure temporibus fuga iusto harum vitae quia nesciunt, doloremque doloribus odio? Totam quas dolor iste saepe?
            Adipisci vitae optio nobis cumque voluptatem culpa ipsa, hic explicabo eum. Qui maxime sapiente sequi dolores blanditiis. Sed dolorum rerum asperiores voluptatum esse, temporibus a debitis iure corrupti, aliquam soluta?</p>
        </div>
    </div>
    
    <div class="p-5"  style="background-color: rgba(0, 0, 0, 0.03);">
        <div class="m-5 p-5">
            <h1 class="mb-5">check out the most rented apartments</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit magni officiis labore maxime, reiciendis ut excepturi. Repudiandae mollitia exercitationem fugit optio obcaecati, numquam rerum accusamus quos, et quae blanditiis dolor.
            Consequatur dolor ab possimus numquam nam exercitationem debitis quidem ipsum voluptatibus? Nemo eveniet hic, voluptatibus quia ducimus rerum eligendi expedita nihil quaerat sunt, accusamus dicta quae magnam unde distinctio quam.
            Tenetur rem quo distinctio quia! Ut, quas sed assumenda perspiciatis distinctio dolorum repellat fugiat error consequatur voluptatibus placeat maiores quidem, facere repellendus sint reprehenderit ullam earum ipsam culpa voluptate non?
            Velit aliquid rerum accusantium quae ab totam officiis, nisi corrupti explicabo, eum, consectetur ipsa at debitis sit consequuntur eius iure modi excepturi atque recusandae perferendis vitae! Omnis tenetur qui distinctio?
            Accusantium earum, debitis perferendis veniam obcaecati vero animi porro expedita adipisci, magnam libero corrupti, optio cum cumque deserunt voluptates unde laboriosam enim eos? Perspiciatis velit veritatis, doloribus vitae ullam voluptas!</p>
        </div>
    </div>
    
    <div class="p-5">
        <div class="m-5 p-5">
            <h1 class="mb-5">some title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit magni officiis labore maxime, reiciendis ut excepturi. Repudiandae mollitia exercitationem fugit optio obcaecati, numquam rerum accusamus quos, et quae blanditiis dolor.
            Consequatur dolor ab possimus numquam nam exercitationem debitis quidem ipsum voluptatibus? Nemo eveniet hic, voluptatibus quia ducimus rerum eligendi expedita nihil quaerat sunt, accusamus dicta quae magnam unde distinctio quam.
            Tenetur rem quo distinctio quia! Ut, quas sed assumenda perspiciatis distinctio dolorum repellat fugiat error consequatur voluptatibus placeat maiores quidem, facere repellendus sint reprehenderit ullam earum ipsam culpa voluptate non?
            Velit aliquid rerum accusantium quae ab totam officiis, nisi corrupti explicabo, eum, consectetur ipsa at debitis sit consequuntur eius iure modi excepturi atque recusandae perferendis vitae! Omnis tenetur qui distinctio?
            Accusantium earum, debitis perferendis veniam obcaecati vero animi porro expedita adipisci, magnam libero corrupti, optio cum cumque deserunt voluptates unde laboriosam enim eos? Perspiciatis velit veritatis, doloribus vitae ullam voluptas!</p>
        </div>
    </div>

<app-footer></app-footer>